// bower:scss
@import "bower_components/reset-css/_reset.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

@import 'base/fontello.css';

// TODO: implement
//@import 'base/variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 1350px) {
    padding: 0;
  }
}

@import 'layout/header';
@import 'components/banner-1';
@import 'components/banner-2';
@import 'components/our-brands';
@import 'components/new-arrivals';
@import 'components/sign-up';
@import 'layout/footer';
