.banner-1 {
  background: url("../images/banners/banner-1.jpg") no-repeat center;
  padding: 150px 0 199px;
  text-align: center;
}

.banner-1__header {
  color: #fff;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.banner-1__link {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 27px;
  display: block;
  &:hover {
    color: #735f41;
  }
}

