.footer {
  margin: 35px auto 30px;

  a:hover {
    text-decoration: underline;
    color: #a1907e;
  }

  @media screen and (min-width: 820px) {
    margin: 66px auto 30px;;
  }
}

.footer-top-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20px;

  @media screen and (min-width: 820px) {
    flex-flow: row nowrap;
    padding: 0;
  }
}

.footer__list {
  text-decoration: none;
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }

  @media screen and (min-width: 517px) {
    padding-bottom: 0;
  }
}

.footer__caption {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.list__item {
  display: block;
  text-decoration: none;
  color: #000;
  margin-top: 12px;
}

.footer-social {
  flex-basis: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 35px;

  @media screen and (min-width: 820px) {
    margin-left: 3.9695817%;
    flex-basis: auto;
    padding-top: 0;
    text-align: start;
  }

  @media screen and (min-width: 960px) {
    margin-left: 7.2695817%;
  }
}

.footer-languages {
  display: flex;
  text-decoration: none;
  color: #000;
  padding-top: 35px;
  flex-basis: 100%;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 820px) {
    padding-top: 0;
    margin-left: 4.8631179%;
    flex-basis: auto;
  }

  @media screen and (min-width: 910px) {
    margin-left: 11.8631179%;;
  }
}

.lang-list {
  position: relative;
}

.country-list {
  margin-right: 46px;
  position: relative;
}

.last-item {
  margin-top: 40px;
}

.lang__active {
  display: inline;
}

.country__active {
  display: inline;
}

.footer-social__links {
  margin-top: 32px;
  font-size: 34px;
  margin-left: -16px;
}

.footer-social__icon {
  color: #000;

  &:hover {
    color: #a1907e;
  }
}

.footer-language__icon {
  margin-left: 7px;
}

.footer-list__icon {
  margin-left: 10px;
}

.footer-cookies {
  margin-top: 58px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 910px) {
    display: block;
  }
}

.footer-cookies__link {
  color: #000;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin-right: 2.35741445%;
}

.footer-rights {
  text-align: center;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;

  @media screen and (min-width: 800px) {
    margin-top: 68px;
  }
}

.country__link {
  color: #000000;
}

.country-submenu {
  display: none;
  position: absolute;
  top:0;
  left: 0;
  padding-top: 40px;
}

.country-submenu__item {
 color: #000;
  line-height: 2;
  text-decoration: none;
}

.lang__link {
  color: #000000;
}

.lang-submenu {
  display: none;
  position: absolute;
  top:0;
  left: 0;
  padding-top: 40px;
}

.lang-submenu__item {
 color: #000;
  line-height: 2;
  text-decoration: none;
}
